<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lvds2000.utsccsuntility"
    android:versionCode="9"
    android:versionName="1.09" >

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/> -->

    <meta-data
        android:name="com.samsung.android.sdk.multiwindow.multiinstance.enable"
        android:value="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".A08.DisplayCSCA08"
            android:label="@string/title_activity_display_csca08" >
        </activity>
        <activity
            android:name=".A08.A08_Exercise"
            android:label="@string/title_activity_a08__exercise" >
        </activity>
        <activity
            android:name=".A08.A08_Ann"
            android:label="@string/title_activity_a08__ann" >
        </activity>
        <activity
            android:name=".A08.A08_Test"
            android:label="@string/title_activity_a08__test" >
        </activity>
        <activity
            android:name=".A08.A08_Lec"
            android:label="@string/title_activity_a08__lec" >
        </activity>
        <activity
            android:name=".A08.A08_Tut"
            android:label="@string/title_activity_a08__tut" >
        </activity>
        <activity
            android:name=".A08.A08_Pra"
            android:label="@string/title_activity_a08__pra" >
        </activity>
        <activity
            android:name=".A20.DisplayCSCA20"
            android:label="@string/title_activity_display_csca20" >
        </activity>
        <activity
            android:name=".A20.A20_Ann"
            android:label="@string/title_activity_a20__ann" >
        </activity>
        <activity
            android:name=".A20.A20_Exe"
            android:label="@string/title_activity_a20__exe" >
        </activity>
        <activity
            android:name=".A20.A20_Calendar"
            android:label="@string/title_activity_a20__calendar" >
        </activity>
        <activity
            android:name=".A20.A20_Lec"
            android:label="@string/title_activity_a20__lec" >
        </activity>
        <activity
            android:name=".A67.DisplayCSCA67"
            android:label="@string/title_activity_display_csca67" >
        </activity>
        <activity
            android:name=".A67.A67_Ann"
            android:label="@string/title_activity_a67__ann" >
        </activity>
        <activity
            android:name=".A67.A67_Exe"
            android:label="@string/title_activity_a67__exe" >
        </activity>
        <activity
            android:name=".A67.A67_Calendar"
            android:label="@string/title_activity_a67__calendar" >
        </activity>
        <activity
            android:name=".A67.A67_Lec"
            android:label="@string/title_activity_a67__lec" >
        </activity>
        <activity
        android:name=".A48.InfoActivity"
        android:label="@string/title_activity_display_csca48" >
    </activity>
        <activity
            android:name=".A48.Exercise"
            android:label="@string/title_activity_a08__exercise" >
        </activity>
        <activity
            android:name=".A48.Ann"
            android:label="@string/title_activity_a08__ann" >
        </activity>
        <activity
            android:name=".A48.Test"
            android:label="@string/title_activity_a08__test" >
        </activity>
        <activity
            android:name=".A48.Lec"
            android:label="@string/title_activity_a08__lec" >
        </activity>
        <activity
            android:name=".A48.Tut"
            android:label="@string/title_activity_a08__tut" >
        </activity>
        <activity
            android:name=".A48.Pra"
            android:label="@string/title_activity_a08__pra" >
        </activity>
        <activity
            android:name=".Generic.InfoActivity"
            android:label="@string/title_activity_display_csca48" >
        </activity>
        <activity
            android:name=".Generic.Exercise"
            android:label="@string/title_activity_a08__exercise" >
        </activity>
        <activity
            android:name=".Generic.Ann"
            android:label="@string/title_activity_a08__ann" >
        </activity>
        <activity
            android:name=".Generic.Test"
            android:label="@string/title_activity_a08__test" >
        </activity>
        <activity
            android:name=".Generic.Lec"
            android:label="@string/title_activity_a08__lec" >
        </activity>
        <activity
            android:name=".Generic.Tut"
            android:label="@string/title_activity_a08__tut" >
        </activity>
        <activity
            android:name=".Generic.Pra"
            android:label="@string/title_activity_a08__pra" >
        </activity>
        <activity
            android:name=".DownloadCourses"
            android:label="Courses" >
        </activity>
        <activity
            android:name=".DisplayCoursess"
            android:label="@string/title_activity_display_coursess" >
        </activity>

        <activity android:name=".Timetable_SubMenu" >
        </activity>
        <activity
            android:name=".DrawerActivity"
            android:label="@string/title_activity_drawer"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".Setting" >
        </activity>

        <uses-library
            android:name="com.sec.android.app.multiwindow"
            android:required="false" />

        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W"
            android:value="632.0dip" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H"
            android:value="598.0dip" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W"
            android:value="632.0dip" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H"
            android:value="598.0dip" />
    </application>

</manifest>
